[submodule "Hazra/vendor/spdlog"]
	path = Hazra/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazra/vendor/GLFW"]
	path = Hazra/vendor/GLFW
	url = https://github.com/nourOkaram/glfw
[submodule "Hazra/vendor/imgui"]
	path = Hazra/vendor/imgui
	url = https://github.com/nourOkaram/imgui
[submodule "Hazra/vendor/glm"]
	path = Hazra/vendor/glm
	url = https://github.com/g-truc/glm
