[submodule "Hazra/vendor/spdlog"]
	path = Hazra/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazra/vendor/GLFW"]
	path = Hazra/vendor/GLFW
	url = https://github.com/nourOkaram/glfw
